*/ {
    color: #00ff00;
}

body {
    background: #000000;
}

.box {
    transition-duration: 0.5s;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 350px;
    width: 350px;
    margin: 40px;
    padding: 20px;
    font-family: monospace;
    color: #00ff00;
    font-size: 30px;
    border: 1px solid darkgreen;
}

.container {
    display: flex;
    justify-content: space-around;
}

.input {
    display: flex;
    justify-content: center;
}

input {
    margin: 5px;
    width: 80px;
    height: 25px;
    color: #00ff00;
    background-color: transparent;
    border-top: 2px solid darkgreen;
    border-left: 2px solid darkgreen;
    border-right: 2px solid #00ff33;
    border-bottom: 2px solid #00ff33;
    transition-duration: 0.2s;
}

input:hover {
    background-color: #00ff00;
    color: #000000;
    cursor: pointer;
}